{% extends "visprof/base.html" %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}Pré-inscrições em "{{ accao.designacao }}"{% endblock %}

{% block content %}
  <main role="main" class="container">
    <h4 class="my-3">Pré-inscrições em "{{ accao.designacao }}"</h4>
    <div class="d-flex">
      <div class="mr-auto">
        <p>Seleccione os docentes a participar na acção de formação.</p>
      </div>
      <p><span id="total_seleccionadas">{{ total_seleccionadas }}</span> seleccionadas</p>
    </div>
    {% render_table table %}
    {% if agora <= accao.fecho_pre_inscricao %}
      <p class="text-muted">
        Poderá enviar os emails de inscrição aos docentes seleccionados após
        o fecho das pré-inscrições. Este fecho ocorrerá a
        {{ accao.fecho_pre_inscricao }}.
      </p>
    {% endif %}
    <div class="d-flex justify-content-sm-end">
      {% crispy form %}
    </div>
  </main>
{% endblock %}
